.breadcrumbs {
    font: 500 14px/1.31em Museo;

    &__item {
        display: inline-block;
        vertical-align: middle;
        border-bottom:1px solid rgba(255,255,255,0.5);
        &._active {
            border: none;
            pointer-events: none;
        }
    }
    &__item +  &__item {
        margin-left: 5px;
        &:before {
            content:'/';
            font-size: 14px;
            position: relative;
            left: -3px;
        }
    }
    &_light {
        color:#fff;
    }
    &_blue {
        color:#4b80c8;
        .breadcrumbs__item {
            border-bottom: solid 1px rgba(75, 128, 200, 0.5);
        }

    }
}

.link {
    color:$main-blue;
    font: 500 14px/1.36em Museo;

    &__text {
        position: relative;
        border-bottom: 1px solid #4b80c8;
        display: inline;
    }

    &:hover {
        color: lighten($main-blue, 10%);
        .link__text {
            border-color: lighten(#4b80c8, 10%);
        }
    }
}
.form {
    p + p {
        margin-top: 10px;
    }
}
.input {
    border-radius: 10px;
    background-color: #f2f9fc;
    padding: 10px 15px;
    font: 500 14px/1.2em Museo;
    color: #88a5b1;
    width: 100%;
    height: 40px;
    + .input {
        margin-top: 10px;
    }
    + .btn {
        margin-top: 10px;
    }
}
.select {
    background: #f2f9fc;
    border: none;
    height: 40px;
    width: 100%;
    font: 500 14px/1.2em Museo;
    border-radius: 10px;
}
.textarea {
    @extend .input;
    height:125px;

}