.content-block {
    border:1px solid #eee;
    padding:3px;
    background:#ccc;
    max-width:250px;
    float:right;
    text-align:center;
}

.post__annotation {
    font: 500 14px/1.33em Museo;
    color: #494949;
    display: block;
}