@import 'css/reset';
@import 'css/vars';
@import 'css/fonts';
@import 'css/grid';
@import 'css/buttons';


@import 'dev/blocks/header/header';
@import 'dev/blocks/footer/footer';
@import 'dev/blocks/banner/banner';

@import 'js/lib/swiper/css/swiper.min.css';


